.post{
    background: #062740;
    transition: 1s;
}

.post:hover{
    background: #115080;
    transition: 1s;
}

.border{
  margin: 15px 0px 15px 0px;
  padding: 10px;
  border-radius: 25px;
  border: 5px solid !important;
}

.border-success{
  border-color: #28a745!important;
}

.border-danger{
  border-color: #dc3545!important;
}

.content{
  position: relative;
  padding: 15px;
  display: block;
  font-size: 20px;
}

.numberloveIts{
  padding-left: 10px;
}

.date{
  text-align: right;
  font-size: 20px;
  float:right;
}

.buttons{
  text-align: right;
}

.btn{
  margin: 15px;
}

.title{
  font-size: 30px;
}

.title, .content, .date, .numberloveIts{
  color: #fff;
}

li{
  list-style-type: none;
}
